<launch>
  <rosparam command="load" file="$(find jetson_camera)/configs/config.yaml" />
  <node pkg="jetson_camera" type="camera_publisher_node.py" name="camera_publisher_node" output="screen"/>
  <node pkg="jetson_camera" type="camera_subscriber_node.py" name="camera_subscriber_node" output="screen"/>
</launch>